.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 20px;
    transition: 0.2s;
}

.nav-item:hover {
    background: grey;   
}

.btn-group-lg>.btn, .btn-lg {
    margin: 10px;
}


.row {
    background-color: grey; 
    color: white;
    font-size: 28px;
}

.card1 {
    margin: 10px;
    justify-content: space-around;
}

.btn-primary{
    text-align: center;
    margin: 5vh;
    border-radius: 50px;
    color: black;
    background-color: white;
    font-size: 5vh;
}

.btn-primary:hover{
    border-radius: 50px;
    color: white;
    background-color: blue;
}
/* Læs mere på klinikkens billede */
.btn-success {
    position: absolute;
    background-color: #fff;
    color: rgb(112,112,112);
    font-size: 5vh;
    border-radius: 50%;
    padding: 50px 40px;
    transition: 0.2s;
}
.btn-success:hover {
    background-color: black;
    color: white;
    padding: 55px 40px;
}

/* Mitid på klinikkens billede */
.btn-info {
    position: absolute;
    background-color: rgb(27,80,222);
    color: white;
    font-size: 5vh;
    border-radius: 50%;
    padding: 50px 40px;
    transition: 0.2s;
}
.btn-info:hover {
    background-color:rgb(27,80,222);
    color: white;
    padding: 55px 45px;
}
/* Mitid billede på klinikkens billede */
.btn-info img {
    float: right;
    width: 70px;
    margin: 7px;
}

/* Respons til de  andre skærme */
@media(max-width: 600px)  {
    .row{
        font-size: 10px;
    }
    .btn-group-lg>.btn, .btn-lg { 
        font-size: 2vh;
        top: 18%;
        left: 60%;
        padding: 15px;
    }
   
    .btn-info {
        top: 18%;
        left: 10%;
        font-size: 2vh;
        padding: 5px;
    }

}


@media(max-width: 750px)  {
    .row{
        font-size: 15px;
    }
    .btn-group-lg>.btn, .btn-lg { 
        font-size: 0.5vh;
        top: 25%;
        left: 60%;
    }
   
    .btn-info {
        top:25%;
        left: 10%;
        font-size: 1vh;
    }
    .btn-info img{
        margin:0;
        width: 20px;
    }

}


@media only screen and (max-width: 1200px) and (min-width: 750px)  {
    .row{
        font-size: 24px;
    }
    .btn-group-lg>.btn, .btn-lg { 
        font-size: 3.5vh;
        top: 18%;
        left: 60%;
    }
   
    .btn-info {
        top: 18%;
        left: 10%;
        font-size: 3.5vh;
    }

}


@media(min-width: 1200px)  {
    .row{
        font-size: 35px;
    }
     .btn-group-lg>.btn, .btn-lg { 
        font-size: 5vh;
        top: 40%;
        left: 65%;
    }
   
    .btn-info {
        top: 40%;
        left: 12%;
        font-size: 5vh;
    }
    .btn-info img{
        width: 80px;
        margin: 10px;
    }

}